*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 125px;
}

.logo{
    width: 200px;
    height: 200px;
    margin-top: -50px;
}

.nav-items ul{
   display: flex;
   list-style: none;
}

.nav-items ul li{
    padding: 30px 25px;
    font-size: 25px ;
}
.not-anchor{
    text-decoration: none;
    color: inherit;
}

.nav-items ul li:hover{
    text-shadow: 5px;
    cursor: pointer;
}

.nav-items button{
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: 'Poppins';
    margin: 22px 70px auto 10px;
    padding: 4px;
    border-radius: 5px;
}

.search{
    margin-top: 20px;
    margin-right: 70px;
}

.search input{
    text-align:center;
    height: 50px;
    width: 480px;

}
.search button{
    height: 50px;
    width: 80px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 15px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.res-card{
    width:250px;
    height: auto;
    margin: 70px 20px 30px;
    text-align: center;
    /* style={{ backgroundColor: "#f0f0f0" }} */
}
.res-card .card-img{
    background-size: cover;
    width: 240px;
    height: 260px;
    border-radius: 10px;
}
.res-card:hover{
  cursor: pointer;
}

.end{
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

.features{
    display: flex;
    justify-content: space-between;
}

.features .top-res{
    margin-top: 40px;
    margin-left: 100px;
}

.top-res :hover{
    cursor: pointer;
}

.res-btn{
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.shimmer-cards{
    width:250px;
    height: 250px;
    margin: 70px 20px 30px;
    background-color: #f0f0f0;
}

